## Hackathon Aveiro 2023

In [1]:
import pandas as pd

In [2]:
FOLDER_NAME = './data/'

### TODO: 
* read all files
* see if files has only first value in the rows
* put latitude longitude in all file 
* add opacity
* add color for each gas (monoxido de carbono, dioxido de carbono, dioxido nitrogenio)
* find coordinates 


questions:
* what is pm_10 ? 
particulas menores que 10 não sei o quê (qual o tamanho da particula?)
* what is pm_2_5 ?
particulas menores que 2 a 5 não sei o quê  (poeira) 
* what is ppm?
* what is (ug/m3) ?

### Dados biblioteca municipal

In [4]:
df = pd.read_csv('./data/hackathon_air_biblioteca_municipal_aveiro_2023.csv', delimiter=';')
df.head(30)

,carbon_dioxide (ppm),carbon_monoxide (ug/m3),nitrogen_dioxide (ug/m3),ozone (ug/m3),pm_10 (ug/m3),pm_2_5 (ug/m3),timestamp,latitude,longitude,device name
0,405.0,252.0,26.0,14.0,10.0,6.0,2023-03-08T15:30:00.000Z,40.64435,-8.64066,5e97271fc4ee8c00117cdd70_monitar
1,404.0,253.0,27.0,15.0,13.0,8.0,2023-03-08T15:45:00.000Z,NaN,NaN,NaN
2,404.0,254.0,26.0,16.0,11.0,7.0,2023-03-08T16:00:00.000Z,NaN,NaN,NaN
3,405.0,257.0,26.0,16.0,10.0,6.0,2023-03-08T16:15:00.000Z,NaN,NaN,NaN
4,403.0,251.0,26.0,16.0,10.0,6.0,2023-03-08T16:30:00.000Z,NaN,NaN,NaN
5,405.0,262.0,26.0,14.0,13.0,8.0,2023-03-08T15:15:00.000Z,NaN,NaN,NaN
6,405.0,262.0,26.0,14.0,13.0,8.0,2023-03-08T15:15:00.000Z,NaN,NaN,NaN
7,405.0,252.0,26.0,14.0,10.0,6.0,2023-03-08T15:30:00.000Z,NaN,NaN,NaN
8,404.0,253.0,27.0,15.0,13.0,8.0,2023-03-08T15:45:00.000Z,NaN,NaN,NaN
9,404.0,254.0,26.0,16.0,11.0,7.0,2023-03-08T16:00:00.000Z,NaN,NaN,NaN
10,405.0,257.0,26.0,16.0,10.0,6.0,2023-03-08T16:15:00.000Z,NaN,NaN,NaN
11,407.0,285.0,22.0,103.0,3.0,1.0,2023-03-21T13:15:00.000Z,NaN,NaN,NaN
12,407.0,287.0,21.0,103.0,6.0,3.0,2023-03-21T13:30:00.000Z,NaN,NaN,NaN
13,405.0,289.0,21.0,104.0,3.0,2.0,2023-03-21T13:45:00.000Z,NaN,NaN,NaN
14,406.0,289.0,21.0,104.0,4.0,2.0,2023-03-21T14:00:00.000Z,NaN,NaN,NaN
15,405.0,275.0,19.0,106.0,10.0,6.0,2023-03-21T14:15:00.000Z,NaN,NaN,NaN
16,405.0,275.0,19.0,107.0,4.0,2.0,2023-03-21T14:30:00.000Z,NaN,NaN,NaN
17,406.0,277.0,21.0,109.0,4.0,2.0,2023-03-21T14:45:00.000Z,NaN,NaN,NaN
18,405.0,276.0,21.0,110.0,5.0,3.0,2023-03-21T15:00:00.000Z,NaN,NaN,NaN
19,404.0,275.0,21.0,112.0,4.0,2.0,2023-03-21T15:15:00.000Z,NaN,NaN,NaN
20,405.0,280.0,21.0,114.0,3.0,2.0,2023-03-21T15:30:00.000Z,NaN,NaN,NaN
21,404.0,271.0,19.0,115.0,4.0,2.0,2023-03-21T15:45:00.000Z,NaN,NaN,NaN
22,405.0,271.0,19.0,117.0,3.0,2.0,2023-03-21T16:00:00.000Z,NaN,NaN,NaN
23,406.0,284.0,19.0,119.0,4.0,2.0,2023-03-21T16:15:00.000Z,NaN,NaN,NaN
24,406.0,284.0,19.0,121.0,5.0,2.0,2023-03-21T16:30:00.000Z,NaN,NaN,NaN
25,405.0,270.0,17.0,123.0,4.0,2.0,2023-03-21T16:45:00.000Z,NaN,NaN,NaN
26,407.0,273.0,17.0,124.0,4.0,2.0,2023-03-21T17:00:00.000Z,NaN,NaN,NaN
27,405.0,274.0,18.0,126.0,5.0,2.0,2023-03-21T17:15:00.000Z,NaN,NaN,NaN
28,405.0,270.0,17.0,129.0,5.0,2.0,2023-03-21T17:30:00.000Z,NaN,NaN,NaN
29,406.0,266.0,18.0,131.0,5.0,3.0,2023-03-21T17:45:00.000Z,NaN,NaN,NaN

### Dados Centro de Congressos

In [5]:
df = pd.read_csv('./data/hackathon_air_centro_congressos_aveiro_2023.csv', delimiter=';')
df

,carbon_dioxide (ppm),carbon_monoxide (ug/m3),nitrogen_dioxide (ug/m3),ozone (ug/m3),pm_10 (ug/m3),pm_2_5 (ug/m3),timestamp,latitude,longitude,device name
0,395.0,175.0,24.0,104.0,2.0,1.0,2023-03-21T13:00:00.000Z,40.64435,-8.64066,5e99b00cc4ee8c00117cdd87_monitar
1,396.0,178.0,26.0,101.0,2.0,1.0,2023-03-21T13:15:00.000Z,NaN,NaN,NaN
2,404.0,169.0,25.0,103.0,2.0,1.0,2023-03-21T13:30:00.000Z,NaN,NaN,NaN
3,413.0,181.0,23.0,101.0,2.0,1.0,2023-03-21T13:45:00.000Z,NaN,NaN,NaN
4,395.0,186.0,22.0,103.0,2.0,1.0,2023-03-21T14:00:00.000Z,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
12250,412.0,92.0,10.0,64.0,8.0,3.0,2023-08-25T10:00:00.000Z,NaN,NaN,NaN
12251,412.0,91.0,10.0,67.0,8.0,3.0,2023-08-25T10:15:00.000Z,NaN,NaN,NaN
12252,410.0,90.0,9.0,69.0,8.0,3.0,2023-08-25T10:30:00.000Z,NaN,NaN,NaN
12253,409.0,92.0,10.0,70.0,8.0,3.0,2023-08-25T10:45:00.000Z,NaN,NaN,NaN
12254,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Dados antiga reitoria UA

In [6]:
df = pd.read_csv('./data/hackathon_air_antiga_reitoria_ua_aveiro_2023.csv', delimiter=';')
df

,carbon_dioxide (ppm),carbon_monoxide (ug/m3),nitrogen_dioxide (ug/m3),ozone (ug/m3),pm_10 (ug/m3),pm_2_5 (ug/m3),timestamp,latitude,longitude,device name
0,415.0,182.0,35.0,73.0,18.0,11.0,2023-03-08T15:15:00.000Z,40.64435,-8.64066,5eb030ac1198200011f688af_monitar
1,416.0,182.0,36.0,72.0,11.0,7.0,2023-03-08T15:30:00.000Z,NaN,NaN,NaN
2,415.0,184.0,36.0,73.0,18.0,11.0,2023-03-08T15:45:00.000Z,NaN,NaN,NaN
3,414.0,185.0,34.0,74.0,15.0,10.0,2023-03-08T16:00:00.000Z,NaN,NaN,NaN
4,416.0,189.0,35.0,74.0,13.0,8.0,2023-03-08T16:15:00.000Z,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
17180,416.0,251.0,18.0,81.0,22.0,12.0,2023-09-17T17:15:00.000Z,NaN,NaN,NaN
17181,416.0,252.0,15.0,80.0,20.0,11.0,2023-09-17T17:30:00.000Z,NaN,NaN,NaN
17182,415.0,255.0,14.0,79.0,20.0,11.0,2023-09-17T17:45:00.000Z,NaN,NaN,NaN
17183,416.0,253.0,15.0,78.0,21.0,11.0,2023-09-17T18:00:00.000Z,NaN,NaN,NaN
17184,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
aa